/* カラーパレット */
:root {
  --bg-color: #F5EEDD;
  --accent-light: #7AE2CF;
  --accent-dark: #077A7D;
  --text-dark: #06202B;
}

body {
  margin: 0;
  font-family: "Georgia", "Times New Roman", serif;
  background-color: var(--bg-color);
  color: var(--text-dark);
  line-height: 1.6;
}

header {
  background: var(--accent-dark);
  position: fixed;
  top: 0;
  left: 0;
  width: 90vw;

  color: white;
  padding: 0.5rem 1rem;
  display: flex;           
  align-items: center;    
  gap: 1rem;

  border-radius: 1.5rem;     
  margin: 1vw 2vw;           /* 画面端から少し余白 */
  z-index: 10;               /* 他要素より前面 */
  box-shadow: 0 2px 8px var(--bg-color);               
}

header img {
  width: 50px;             /* アイコンサイズ */
  height: 50px;
  border-radius: 50%;      /* 丸くする */
  border: 2px solid var(--accent-light);
  object-fit: cover;       /* 画像がはみ出さないように */
}

header h1 {
  margin: 0;
  font-size: 2rem;
}

nav {
  display: flex;
  justify-content: right;
  gap: 1.5rem;
  padding: 0.8rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

nav a:hover {
  color: var(--text-dark);
}

main {
    max-width: 800px;
    margin: 2rem auto;
    margin-top:100px;
    padding: 2rem;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.08);
}

h2 {
  margin-top: 2rem;
  font-size: 1.5rem;
  color: var(--accent-dark);
  border-left: 6px solid var(--accent-light);
  padding-left: 0.5rem;
}

/* 区切り線 */
hr {
  border: none;
  border-top: 2px solid var(--accent-light);
  margin: 1rem 0;
}

/* リスト */
ul {
  list-style-type: square;
  padding-left: 1.5rem;
}

ul li {
  margin: 0.4rem 0;
}

/* 段落 */
p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* 強調部分 */
em {
  color: var(--accent-dark);
  font-style: normal;
  font-weight: bold;
}

/* フッター（必要なら追加） */
footer {
    margin-top: 2rem;
    background: var(--text-dark);
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
}
